[Unit]
Description=Serveur Flask température - Pi Zero
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi
Environment="PATH=/home/pi/env_temp/bin"
ExecStart=/home/pi/env_temp/bin/python /home/pi/server_temp.py
Restart=always

[Install]
WantedBy=multi-user.target
