[Unit]
Description=Serveur Flask température - Pi Zero
After=network.target

[Service]
User=cobaye
WorkingDirectory=/home/cobaye
Environment="PATH=/home/cobaye/env_temp/bin"
ExecStart=/home/cobaye/env_temp/bin/python /home/cobaye/server_temp.py
Restart=always

[Install]
WantedBy=multi-user.target
